name: Tests

on:
  workflow_call:

concurrency:
  group: tests-${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  tests:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ['3.10','3.11','3.12', '3.13']
    steps:
      - name: Check out a copy of the repository
        uses: actions/checkout@v6
      - name: Set up uv
        uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ matrix.python-version }}
      - name: Set up PortAudio
        uses: acoular/ci/.github/actions/setup-portaudio
        with:
          os: ${{ matrix.os }}
      - name: List env
        run: |
          uv sync --frozen && uv pip list
      - name: Run smoke tests
        uses: acoular/ci/.github/actions/smoke-tests
        with:
          command: uv run --frozen --no-dev --exact
      - name: Run unit tests
        run: uv run --frozen python -m pytest
      - name: Run doctests
        run: uv run --frozen python -m pytest --doctest-modules ${{ github.event.repository.name }}
